.movie-carousel-container{
    width: 100vw;
    background-color: black;
}

/* Skeleton for movie carousel */
.skeleton-carousel {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.skeleton-paper {
    width: 100%; /* Adjust width to match your movie cards */
    height: 100%; /* Adjust height to match your movie cards */
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #333; /* Adjust this to match your theme */
}


.skeleton-backdrop {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.skeleton-details {
    display: flex;
    padding-top:8px;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.skeleton-avatar {
    width: 60%;
    max-width: 200px; 
}
.skeleton-texts-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.skeleton-subtitle {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
}

.skeleton-title {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
}

.movie-poster{
    height: 300px;
    border: 1px solid #fdd000;
    border-radius: 10px;
    overflow: hidden;
}
.movie-poster > img{
    height: 100%;
    width: 100%;

}
.movie-card-container{
    height: 550px;
    background-color: black;
}
.movie-card{
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), var(--img);
}
.movie-detail{
    position: absolute;
    top:200px;
    display: flex;
    justify-content: space-evenly;
    width:100%;
}
.movie-title{
    color:white;
    display: flex;
    align-items: center;
}

.movie-buttons-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
}

.play-button-icon-container{
    padding:0px;
    margin:0px;
    width:150px;
}
.play-button-icon{
    padding:0px;
    margin:0px;
    color:#fdd000;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}
.play-button-icon:hover{
    font-size: 4rem;
    color:white;
}

.movie-review-button{
    /* background-color: #5d6d7c!important;  */
    color: #EDEAE5 !important;
    /* border:#5d6d7c !important; */
}

@media only screen and (max-width: 800px) {
    .movie-detail{
        flex-direction: column;
        align-items: center;
        top:20px;
    }

    .skeleton-details {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .skeleton-avatar {
        width: 60%;
        max-width: 200px;
        max-height: 300px;
    }

    .skeleton-texts-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .skeleton-title, .skeleton-subtitle {
        width: 60%;
    }
}

